.carousel {
  position: relative; }

.carousel.pointer-event {
  touch-action: pan-y; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: ""; }

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none; } }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%); }

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%); }

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none; }

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1; }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
      transition: none; } }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease; }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
    .carousel-control-next {
      transition: none; } }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9; }

.carousel-control-prev {
  left: 0; }

.carousel-control-next {
  right: 0; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); }

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none; }
  .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-indicators li {
        transition: none; } }
  .carousel-indicators .active {
    opacity: 1; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center; }

.aboutP {
  animation: aboutP  1.2s ease-out both; }

.aboutImg {
  animation: aboutImg  ease-out 1.2s both; }

.aboutH {
  animation: aboutH  ease-out 1.5s both; }

.sevI {
  animation: sevI  ease-out 0.5s both; }

.sevP {
  animation: sevP  ease-out 0.5s both; }

@keyframes aboutP {
  0% {
    transform: rotateX(50deg);
    opacity: 0; }
  70% {
    opacity: 0.4; }
  100% {
    transform: rotateX(0deg);
    opacity: 1; } }

@keyframes aboutImg {
  0% {
    transform: rotateY(50deg);
    opacity: 0; }
  70% {
    opacity: 0.4; }
  100% {
    transform: rotateY(0deg);
    opacity: 1; } }

@keyframes aboutH {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@keyframes sevI {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes sevP {
  0% {
    transform: scale(1.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.heading {
  text-shadow: 1px 1px #a0a0a0;
  font-family: Kaushan Script; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
  color: #0c224f;
  scroll-behavior: smooth; }

.wrapper {
  color: white;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  transition: 1s;
  overflow: hidden; }

.top {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 1; }
  .top > * {
    margin: 10px; }
  .top .logo {
    font-size: 50px;
    font-weight: bolder;
    color: orange; }
    .top .logo span {
      color: #d2d2d2;
      font-size: 20px;
      font-weight: normal;
      font-style: italic; }
  .top .info .info-p {
    margin: 0; }
    .top .info .info-p span:last-of-type {
      color: #05edf5;
      font-size: 24px;
      font-weight: bold; }
  .top:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(12, 34, 79, 0.9);
    z-index: -1; }

.menu {
  background: white;
  color: black;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 4px 10px;
  z-index: 3; }
  .menu .fa-bars {
    display: none;
    font-size: 30px;
    cursor: pointer; }
  .menu .ul-cont {
    grid-column: -2/-1; }
  .menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: red; }
    .menu ul li {
      list-style: none;
      border-left: solid;
      padding: 15px 27px;
      transition: 0.7s ease-out;
      font-weight: bold; }
      .menu ul li:hover {
        background: red;
        color: white; }
      .menu ul li a {
        color: inherit;
        text-decoration: none; }
  .menu .info-p {
    margin: 0;
    align-self: center; }
    .menu .info-p span:last-of-type {
      color: #05edf5;
      font-size: 16px;
      font-weight: bold; }

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  position: static; }
  .display .carousel-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; }
    .display .carousel-inner div {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position-x: center; }
      .display .carousel-inner div:nth-of-type(1) {
        background-image: url("images/img1a.jpg"); }
      .display .carousel-inner div:nth-of-type(2) {
        background-image: url("images/img1b.jpg"); }
      .display .carousel-inner div:nth-of-type(3) {
        background-image: url("images/img1c.jpg"); }
  .display .displ-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; }
  .display p {
    margin: 0; }
  .display p:last-of-type {
    color: #05edf5;
    font-size: 45px;
    margin: 20px 0px;
    text-align: center; }
  .display button {
    background: #05edf5;
    border: none;
    color: white;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 10px; }
    .display button:hover {
      opacity: 0.6; }
  .display:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.motto {
  max-width: 900px;
  text-align: center;
  margin: auto;
  padding: 100px 0; }
  .motto p {
    font-size: 20px;
    font-family: 'Quicksand'; }

.about {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 400px) auto 1fr;
  grid-gap: 30px;
  background: #f5d4b0;
  padding: 20px 0; }
  .about section {
    grid-column: 2/3;
    padding: 10px; }
    .about section h2 {
      opacity: 0;
      text-align: left; }
    .about section p {
      font-size: 19px;
      line-height: 1.7em;
      opacity: 0; }
  .about img {
    max-width: 400px;
    box-shadow: 0 0 15px gray;
    opacity: 0; }

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 100px;
  color: white; }
  .services .serv {
    width: 318px;
    padding-top: 140px;
    margin: 0px 15px;
    background: white;
    border-radius: 15px 15px 50% 50% / 15px 15px 20px 20px;
    overflow: hidden;
    box-sizing: border-box; }
    .services .serv .cont {
      background: #12b0a3;
      display: flex;
      flex-direction: column;
      padding: 0 20px 10px;
      text-align: center;
      border-radius: 50% 50% 0 0 / 80px 80px 0 0;
      margin: 0 -10px; }
      .services .serv .cont > img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: -80px auto -40px;
        border: solid gray 8px;
        transition: 0.5s; }
        .services .serv .cont > img:hover {
          transform: translateY(-30px); }
      .services .serv .cont > div {
        box-shadow: 0 0 10px black;
        padding: 5px 10px;
        border-radius: 0 0px 50% 50% / 15px 15px 20px 20px;
        text-align: center;
        background: #12b0a3;
        z-index: 2; }
        .services .serv .cont > div > p {
          text-align: left; }
        .services .serv .cont > div > button {
          color: white;
          background: orange;
          padding: 5px 15px;
          border: solid;
          border-radius: 5px; }

.services-cont {
  width: 100%;
  background: #0c224f; }
  .services-cont .sevs {
    margin: auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    padding: 60px 0; }
    .services-cont .sevs .sev {
      width: 250px;
      margin: 20px;
      text-align: center;
      border-bottom: 1px solid gray; }
      .services-cont .sevs .sev i {
        font-size: 100px;
        color: orange;
        opacity: 0; }
      .services-cont .sevs .sev p {
        font-size: 20px;
        font-weight: bold;
        color: #05edf5;
        opacity: 0; }

.oppo {
  background: url("images/img4.jpg") fixed bottom;
  background-size: cover;
  padding: 170px 10px; }
  .oppo section {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px 50px 30px;
    max-width: 900px;
    margin: auto;
    color: white; }
  .oppo p {
    font-size: 20px; }

.contact-cont {
  background: #12b0a3; }
  .contact-cont .contact {
    padding: 20px 0;
    text-align: center;
    color: white;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto; }
  .contact-cont h3 {
    margin: 0 0 50px;
    font-size: 20px;
    font-family: serif;
    font-family: Kaushan Script; }
  .contact-cont .input-cont {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .contact-cont input, .contact-cont textarea {
    background: white; }
  .contact-cont input {
    width: 49%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box; }
  .contact-cont textarea {
    margin: 30px 0;
    width: 80%;
    height: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box; }
  .contact-cont button {
    background: orange;
    color: white;
    display: block;
    margin: auto;
    padding: 5px 20px;
    border: white 1px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    outline: none; }
    .contact-cont button:hover {
      opacity: 0.7; }
  .contact-cont .cont {
    text-align: left;
    align-self: center;
    padding: 30px 20px 50px 50px;
    border-left: 1px solid #000; }
    .contact-cont .cont p {
      display: flex;
      align-items: center; }
    .contact-cont .cont i {
      font-size: 50px;
      margin-right: 20px;
      color: #0c224f; }
    .contact-cont .cont span {
      align-self: center;
      font-style: italic;
      font-size: 21px;
      color: #e6e6e6; }

footer {
  background: #0c224f;
  color: white;
  text-align: center;
  padding: 50px 0; }
  footer button {
    background: none;
    border: none;
    color: orange;
    font-size: 17px;
    font-weight: bold; }
    footer button:hover {
      opacity: 0.7; }
  footer .medias > * {
    display: inline-block; }
  footer .medias section {
    margin: 35px 0;
    padding: 0 20px; }
    footer .medias section:first-of-type {
      border-right: solid; }
  footer .medias i {
    font-size: 25px;
    margin: 0 7px; }
  footer .copywrite {
    color: gray; }

@media screen and (max-width: 900px) {
  .top .logo {
    font-size: 40px; }
    .top .logo span {
      font-size: 16px; }
  .top .info .info-p span:last-of-type {
    font-size: 21px; }
  .display .carousel-indicators {
    margin-bottom: 8px; }
  .about {
    grid-template-columns: 1fr; }
    .about section {
      grid-column: 1/-1; }
    .about img {
      display: none; }
  .services {
    flex-direction: column;
    align-items: center; }
    .services .serv {
      margin: 0px; }
  .contact-cont .contact {
    grid-template-columns: 1fr;
    grid-gap: 30px; }
  .contact-cont .cont {
    border: none;
    border-top: 1px solid #000;
    margin: auto; } }

@media screen and (max-width: 650px) {
  .disappear {
    display: none; }
  .top .logo {
    font-size: 30px; }
    .top .logo span {
      font-size: 16px; }
  .top .info {
    display: none; }
  .menu .fa-bars {
    display: block;
    grid-column: 2/3; }
  .menu .ul-cont {
    grid-row: 2/3;
    grid-column: 1/2; }
  .menu ul {
    flex-direction: column; }
    .menu ul li {
      border: none; }
  .contact-cont .input-cont {
    flex-direction: column;
    width: 100%;
    align-items: center; }
    .contact-cont .input-cont input {
      width: 80%; }
      .contact-cont .input-cont input:first-of-type {
        margin-bottom: 20px; }
  .contact-cont .cont {
    padding: 50px 0; }
    .contact-cont .cont i {
      font-size: 30px;
      margin-right: 10px; }
    .contact-cont .cont span {
      font-size: 14px; } }
