.heading {
  text-shadow: 1px 1px #a0a0a0;
  font-family: Kaushan Script; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
  color: #0c224f;
  scroll-behavior: smooth; }

.wrapper {
  color: white;
  background: url("images/img1c.jpg");
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  transition: 1s; }

.top {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .top > * {
    z-index: 0;
    margin: 10px; }
  .top .logo {
    font-size: 50px;
    font-weight: bolder;
    color: orange; }
  .top .info p {
    margin: 0; }
  .top .info span:last-of-type {
    color: #05edf5;
    font-size: 1.5em;
    font-weight: bold; }
  .top:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(12, 34, 79, 0.9); }

.menu {
  background: white;
  color: red;
  text-align: right; }
  .menu ul {
    padding: 0;
    margin: 0; }
    .menu ul li {
      list-style: none;
      display: inline-block;
      border-left: solid;
      padding: 15px 27px;
      transition: 0.7s ease-out;
      font-weight: bold; }
      .menu ul li:hover {
        background: red;
        color: white; }
      .menu ul li a {
        color: inherit;
        text-decoration: none; }

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  position: relative; }
  .display p {
    margin: 0px; }
  .display p:last-of-type {
    color: #05edf5;
    font-size: 45px;
    margin: 15px 0 80px; }
  .display button {
    background: #05edf5;
    border: none;
    color: white;
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 10px; }
    .display button:hover {
      opacity: 0.6; }
  .display > * {
    z-index: 10; }
  .display:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }

.mission {
  width: 900px;
  text-align: center;
  margin: auto;
  padding: 100px 0; }
  .mission p {
    font-size: 20px;
    font-family: 'Quicksand'; }

.about {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-gap: 30px;
  background: #f5d4b0;
  padding: 20px 0; }
  .about section {
    grid-column: 2/3;
    padding: 10px;
    width: 400px; }
    .about section h2 {
      opacity: 0;
      text-align: left; }
    .about section p {
      font-size: 19px;
      line-height: 1.7em;
      opacity: 0; }
  .about img {
    width: 400px;
    box-shadow: 0 0 15px gray;
    opacity: 0; }

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0 100px;
  color: white; }
  .services .serv {
    width: 320px;
    padding-top: 140px;
    margin: 0px 15px;
    background: white;
    border-radius: 15px 15px 50% 50% / 15px 15px 20px 20px;
    overflow: hidden; }
    .services .serv .cont {
      background: #12b0a3;
      display: flex;
      flex-direction: column;
      padding: 0 20px 10px;
      text-align: center;
      border-radius: 50% 50% 0 0 / 80px 80px 0 0;
      margin: 0 -10px; }
      .services .serv .cont > img {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin: -80px auto -40px;
        border: solid gray 8px;
        transition: 0.5s; }
        .services .serv .cont > img:hover {
          transform: translateY(-30px); }
      .services .serv .cont > div {
        box-shadow: 0 0 10px black;
        padding: 5px 10px;
        border-radius: 0 0px 50% 50% / 15px 15px 20px 20px;
        text-align: center;
        background: #12b0a3;
        z-index: 2; }
        .services .serv .cont > div > p {
          text-align: left; }
        .services .serv .cont > div > button {
          color: white;
          background: orange;
          padding: 5px 15px;
          border: solid;
          border-radius: 5px; }

.services-cont {
  width: 100%;
  background: #0c224f; }
  .services-cont .sevs {
    margin: auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 60px 0; }
    .services-cont .sevs .sev {
      width: 250px;
      margin: 20px;
      text-align: center;
      border-bottom: 1px solid gray; }
      .services-cont .sevs .sev i {
        font-size: 100px;
        color: orange;
        opacity: 0; }
      .services-cont .sevs .sev p {
        font-size: 20px;
        font-weight: bold;
        color: #05edf5;
        opacity: 0; }

.oppo {
  background: url("images/img4.jpg") fixed bottom;
  background-size: cover;
  padding: 170px 10px; }
  .oppo section {
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 10px 50px 30px;
    max-width: 900px;
    margin: auto;
    color: white; }
  .oppo p {
    font-size: 20px; }

.contact-cont {
  background: #12b0a3; }
  .contact-cont .contact {
    padding: 20px 0;
    text-align: center;
    color: white;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto; }
  .contact-cont h3 {
    margin: 0 0 50px;
    font-size: 20px;
    font-family: serif;
    font-family: Kaushan Script; }
  .contact-cont input, .contact-cont textarea {
    background: white; }
  .contact-cont input {
    width: 40%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px; }
  .contact-cont textarea {
    margin: 30px 0;
    width: 80%;
    height: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px; }
  .contact-cont button {
    background: orange;
    color: white;
    display: block;
    margin: auto;
    padding: 5px 20px;
    border: white 1px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    outline: none; }
    .contact-cont button:hover {
      opacity: 0.7; }
  .contact-cont .cont {
    text-align: left;
    align-self: center;
    padding: 50px;
    border-left: 1px solid #000; }
    .contact-cont .cont p {
      display: flex;
      align-items: center; }
    .contact-cont .cont i {
      font-size: 50px;
      margin-right: 20px;
      color: #0c224f; }
    .contact-cont .cont span {
      align-self: center;
      font-style: italic;
      font-size: 21px;
      color: #e6e6e6; }

footer {
  background: #0c224f;
  color: white;
  text-align: center;
  padding: 50px 0; }
  footer button {
    background: none;
    border: none;
    color: orange;
    font-size: 17px;
    font-weight: bold; }
    footer button:hover {
      opacity: 0.7; }
  footer .media > * {
    display: inline-block; }
  footer .media section {
    margin: 35px 0;
    padding: 0 20px; }
    footer .media section:first-of-type {
      border-right: solid; }
  footer .media i {
    font-size: 25px;
    margin: 0 7px; }
  footer .copywrite {
    color: gray; }

.aboutP {
  animation: aboutP  1.2s ease-out both; }

.aboutImg {
  animation: aboutImg  ease-out 1.2s both; }

.aboutH {
  animation: aboutH  ease-out 1.5s both; }

.sevI {
  animation: sevI  ease-out 0.5s both; }

.sevP {
  animation: sevP  ease-out 0.5s both; }

@keyframes aboutP {
  0% {
    transform: rotateX(50deg);
    opacity: 0; }
  70% {
    opacity: 0.4; }
  100% {
    transform: rotateX(0deg);
    opacity: 1; } }

@keyframes aboutImg {
  0% {
    transform: rotateY(50deg);
    opacity: 0; }
  70% {
    opacity: 0.4; }
  100% {
    transform: rotateY(0deg);
    opacity: 1; } }

@keyframes aboutH {
  0% {
    opacity: 0; }
  70% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@keyframes sevI {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes sevP {
  0% {
    transform: scale(1.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
